<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="./../../assets/235.jpg" />
    <ion-card-header>
      <ion-card-title>Imagen fuera decontexto</ion-card-title>
      <ion-card-subtitle>Nose que poner aqui</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Hola mundo desde, nose ionic XD
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark">Hola</ion-card-title>
      <ion-card-subtitle>Hola otra vez</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      este es otro tipo de carta que Ionic nos ofrece en su documentacion
    </ion-card-content>
  
    <ion-button fill="clear">Boton 1</ion-button>
    <ion-button fill="clear">Boton 2</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Last card</ion-card-title>
      <ion-card-subtitle>Ultima carta por si no saben ingleishon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
