<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Buttom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button>Default= Color predeterminado</ion-button>
<ion-button color="primary">Primary = color primario</ion-button>
<ion-button color="secondary">Secondary = color secundario</ion-button>
<ion-button color="tertiary">Tertiary = color numero 3</ion-button>
<ion-button color="success">Success = este es como verde claro</ion-button>
<ion-button color="warning">Warning = color peligro</ion-button>
<ion-button color="danger">Danger = color mas peligro</ion-button>
<ion-button color="light">Light = color mi compañero Oscar</ion-button>
<ion-button color="medium">Medium = color gris</ion-button>
<ion-button color="dark">Dark = color banco</ion-button>
</ion-content>
