<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi primera aplicacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label routerLink="/boton">Boton</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/card">Card</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/chip">Chip</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/grid">Grid</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/icon">Searchbar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/input">Input</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/item">Item</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/avatar">Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/radio">Radio</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/range">Range</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
